<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.montesestebanivan_pmdm05_tarea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pulpifondo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pulpifondo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MontesEstebanIvan_PMDM05_Tarea">
        <activity
            android:name=".FinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LanzadorJuegoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".InicioActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>